*{
    margin: 0;
    padding: 0;
  }
  
  $gradient-color: linear-gradient(to right top, #ffd696, #ffcf7b, #ffc75e, #ffc03e, #ffb904);
  $body-color: #EBE5DF;
  $icon-color: #FFB904;
  $font-color: #CF3E01;
  $secondary-font-color: #332C26;
  $header-footer-color: #F8F6F4;
  $title-font: 'Lobster', cursive;
  
  @mixin ease() {
    transition: 0.25s ease-in-out;
  }
  @mixin box-shadow {
    box-shadow: 0px 0px 2.5px 0px rgba(255,185,4,1);
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  //***********************//
  //small desktops and laptops
  $large: 1283px;
  //tablets and small laptops
  $medium: 1075px;
  //large phones
  $small: 480px;

  @mixin large {
    @media only screen and (max-width: $large) {
      @content;
    }
  }
  @mixin large-min {
    @media only screen and (min-width: $medium) {
      @content;
    }
  }
  @mixin medium {
    @media only screen and (max-width: $medium){
      @content;
    }
  }
  @mixin small {
    @media only screen and(max-width: $small) {
      @content; 
    }
  }

  //body styling
  body{
    display: grid;
    grid-template-areas: "a a a"
                         "b b b"
                         "c c c";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 75px 900px 75px;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 50px;
    background: $gradient-color;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $font-color;
    @include medium(){
      grid-template-areas: "a a"
                         "b b"
                         "c c";
      grid-template-rows: 175px 900px 75px;
    }
    @include small(){
      padding: 0;
    }
  }
  
  #header{
    grid-area: a;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: $header-footer-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    .icon{
      font-size: 40px;
      color: $icon-color;
    }
    .logo{
      font-family: $title-font;
    }
    
    form.search{

      input{
        width: 250px;
        height: 45px;
        border-radius: 20px;
        @include box-shadow();
        border: none;
        outline: none;
        @include large(){
          width: 200px;
        }

        &:hover{
          transform: scale(1.02);
        }
  
        &[placeholder]{
          font-size: 17px;
          padding: 0 5px 0 10px;
        }
      }
  
      .btn-search{
        display: inline-block;
        position: relative;
        top: 4px;
        width: 125px;
        height: 45px;
        font-size: 25px;
        border-radius: 20px;
        border: none;
        outline: none;
        background: $icon-color;
        font-family: $title-font;
        color: $font-color;
        cursor: pointer;
        @include large() {
            width: 100px;
        }
        

        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }

  //likes-list styling
  .like{
    position: relative;
    padding: 0 !important;
    cursor: pointer;

    &:hover .likes-list{
      visibility: visible;
      opacity: 1;
    }

    .likes-list{
      list-style: none;
      position: absolute;
      right: 0;
      top: 3.75rem;
      z-index: 10;
      padding: 2rem 1rem;
      width: 34rem;
      background-color: #fff;
      box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
      visibility: hidden;
      opacity: 0;
      transition: all .5s .2s;

      .likes-link{
        text-decoration: none;
        padding: 5px 0;
        display: flex;
        align-items: center;

        &:hover{
          @include ease();
          background: $body-color;
        }
      }

      .likes-fig{
        flex: 0 0 4.5rem;
        border-radius: 50%;
        overflow: hidden;
        height: 4.5rem;
        width: 4.5rem;
        margin-right: 2rem;
        position: relative;
        backface-visibility: hidden;

        &::before{
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
          opacity: .4;
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .3s;
        }
      }

      .likes-title{
        text-align: left;

        h3{
          margin-bottom: 5px;
          color: $font-color;
        }
        p{
          color: $secondary-font-color;
        }
      }
    }
  }
  
  .box{
    grid-area: b;
    display: flex;
    flex-direction: start;
    align-items: center;
    @include medium(){
      display: grid;
      width: 100%;
      grid-template-areas: "search recipe"
                            "search list";
      grid-template-columns: 200px auto;
      grid-template-rows: repeat(2, 1fr);
    }
    @include small(){
      grid-template-columns: 125px auto;
      grid-template-rows: repeat(2, 1fr);
    }
    
    
    .boxes{
      @include large-min(){
        width: 100%;
        height: 100%;
      }
      
      &:nth-child(even){
        background: $body-color;
      }
      &:nth-child(odd){
        background: $header-footer-color;
      }
    }
  }

  //loader styling
  .loader{
    font-size: 100px;
    color: $icon-color;
    display: inline-block;
    text-align: center;
    padding: 15px 0;

    i{
      animation: rotate 1.25s infinite linear;
    }
  }

  //active search result recipe
  .active {
    background-color: $body-color;
  }

  //search results styling
  .box-1{
    display: flex;
    flex-direction: column;
    overflow: auto;
    @include medium(){
      grid-area: search;
      height: 100%;
      width: 100%;
    }
    
    .recipe-results{
      list-style: none;

      &:hover{
        @include ease();
        background: $body-color;
      }

      .result-link{ 
        padding: 15px 0;
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;

        .result-fig{
          border-radius: 50%;
          flex: 0 0 5.5rem;
          overflow: hidden;
          position: relative;
          backface-visibility: hidden;
          @include medium(){
            flex: 0 0 3.5rem;
          }
          @include small(){
            display: none;
          }

          &::before{
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
            opacity: .4;
          }
          
          img{
            display: block;
            @include box-shadow();
            border-radius: 50%;
            width: 5.5rem;
            height: 5.5rem;
            object-fit: cover;
            transition: all .3s;
            @include medium(){
              width: 3.5rem;
              height: 3.5rem;
            }
  
            &[alt]{
              font-size: 10px;
            }
          }
        }

        .result-title{
          font-family: sans-serif;
          color: $font-color;
          @include medium(){
            font-size: 10px;
          }

          h3{
            margin-bottom: 5px;
          }
          p{
            color: $secondary-font-color;
          }
        }
      }
  }
}

//recipe results styling
.box-2{
  display: grid;
  grid-template-rows: 350px 175px 375px;
  
  @include medium(){
    grid-area: recipe;
    grid-template-rows: none;
    grid-template-columns: 300px 100px auto;
    height: 450px;
    width: 100%;
  }

  .recipe-figure{
    display: block;
    position: relative;
    backface-visibility: hidden;

    img{
      height: 100%;
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      transition: all .3s;
      opacity: 0.8;
      @include medium(){
        margin-top: 50px;
        padding: 0 10px;
        height: 275px;
        width: 275px;
        border-radius: 50%;
      }
      @include small(){
        height: 225px;
        width: 225px;
        margin-top: 100px;
        margin-left: 25px;
      }

      &[alt]{
        font-size: 10px;
      }
    }

    .recipe-title{
      position: relative;
      display: block;
      top: -33px;
      text-align: center;
      font-family: sans-serif;
      font-size: 30px;
      opacity: 0.8;
      @include medium(){
        position: relative;
        top: -50px;
        padding: 5px 0 0 0;
      }
      @include small(){
        font-size: 20px;
      }
      
      span{
        background-color: $icon-color;
        padding: 5px 0 0 0;

      }
    }
  }
  .recipe-info{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px 35px;
    font-size: 15px;
    @include medium(){
      font-size: 1rem;
      display: grid;
      grid-template-rows: repeat(3, auto);
      text-align: center;
      align-content: space-around;
      justify-content: space-evenly;
      height: 450px;
    }
  }
  .servings{
    display: inline-flex;
    flex: 0 0 8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: $header-footer-color;
    @include medium(){
      flex: 0 0 5rem;
      display: flex;
      flex-direction: column;
    }
    @include small(){
      flex: 0 0 3rem;
    }

    h4{
      margin: 0 5px;
      @include small(){
        font-size: 12.5px;
      }
    }
    i{
      font-size: 20px;
      color: $icon-color;
    }
  }

  .cook-time{
    display: inline-flex;
    flex: 0 0 8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: $header-footer-color;
    @include medium(){
      flex: 0 0 5rem;
      display: flex;
      flex-direction: column;
    }
    @include small(){
      flex: 0 0 3rem;
    }

    h4{
      margin: 0 5px;
      @include small(){
        font-size: 12.5px;
      }
    }
    i{
      font-size: 20px;
      color: $icon-color;
    }
  }

  .like-basket{

    #like-btn{
      font-size: 30px;
      color: #FFB904;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .ingredient-info{
    padding: 0 10px;
    @include medium(){
      height: 450px;
    }

    .ingredient-list{
      list-style-type: none;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0 5px;
      overflow: hidden;
      @include large(){
        flex-wrap: nowrap;
        overflow: auto;
        padding-top: 20px;
      }
  
      .ingredient {
        line-height: 20px;
        font-size: 0.72rem;
  
        p{
          width: 300px;
          @include medium(){
            width: auto;
            flex-wrap: wrap;
          }
        }
        i{
          color: $icon-color;
        }
      }
    }
    
    .ingredient-btn{
      text-align: center;
      @include medium(){
        padding-top: 20px;
      }

      .add-to-shopping{
        padding: 0 10px;
        margin: 0 5px;
        height: 45px;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        background: $icon-color;
        font-family: $title-font;
        color: $font-color;
        cursor: pointer;
        @include small(){
          font-size: 15px;
        }
  
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}

//shopping list styling
.box-3{
  display: grid;
  grid-template-rows: 100px 625px 175px;

  @include medium(){
    grid-area: list;
    grid-template-rows: none;
    grid-template-columns: 400px auto;
    width: 100%;
  }

  .shop-title{
    text-align: center;
    padding: 25px 0;
    @include medium(){
      display: none;
    }

    span{
      background-color: $icon-color;
      opacity: 0.8;
      padding: 5px;
    }
  }

  .shop{
    height: 100%;
    padding: 0 10px;

    ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      @include medium(){
        height: 450px;
        overflow: auto;
      }

      .shop-item{
        font-size: 15px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0.25rem 0;
        border-bottom: 1px solid #F2EFEE;
        position: relative;

        .shop-count{
          background-color: $body-color;
          flex: 0 0 7.5rem;
          padding: .4rem .5rem;
          border: 1px solid #F2EFEE;
          border-radius: 5px;
          margin-right: 2rem;
          cursor: pointer;
          display: flex;
          justify-content: space-between;

          input{
            font-size: 1.2rem;
            text-align: center;
            border: none;
            width: 3.7rem;
            border-radius: 3px;

            &:focus{
              outline: none;
            }
          }

          p{
            color: $icon-color;
            font-weight: bold;
          }
        }

        .shop-description{
          flex: 1;
          font-size: 15px;
        }

        .shop-delete{
          border: none;
          visibility: hidden;
          opacity: 0;
          border-radius: 50%;
          position: absolute;
          right: 0;
          @include ease();

          i{
            font-size: 20px;
            color: $icon-color;
          }
        }

        &:hover .shop-delete{
          visibility: visible;
          opacity: 1;
          cursor: pointer;
        }
      }

    }
  }

  .shop-btn{
    margin: auto;
    text-align: center;
    @include medium(){
      padding: 0 20px;
    }

    h4{
      font-size: 25px;
      padding: 0 0 10px 0;
    }
    p{
      padding: 0 0 10px 0;
    }

    .cooking-directions{
      padding: 0 10px;
      margin: 0 5px;
      height: 45px;
      font-size: 20px;
      border-radius: 20px;
      border: none;
      background: $icon-color;
      font-family: $title-font;
      color: $font-color;
      outline: none;
      cursor: pointer;
      @include ease();
      @include small(){
        font-size: 15px;
      }
    
      &:hover{
        transform: scale(1.05);
      }

      .cooking-link{
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}

//Footer styling
.footer{
  grid-area: c;
  background: $header-footer-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}